
<% include ../layouts/header%>
 
  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title"><%= (home && home.aboutTitle != {}) ? home.aboutTitle : '公司介绍' %></h3>
          <div class="section-title-divider"></div>
          <p class="section-description">
						<!-- 专业 精致 创新 -->
						<%= (home && home.aboutDesc != {}) ? home.aboutDesc : '专业 精致 创新' %>
          </p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-md-push-6 about-content">
          <h2 class="about-title"><%= (home && home.aboutCompany != {}) ? home.aboutCompany : '广州桑瑞通信设备有限公司' %></h2>
          <p class="about-text">
							<%= (home && home.aboutCompanyDesc != {}) ? home.aboutCompanyDesc : '桑瑞通信在2018年4月分别组建成立广州桑瑞环保科技有限公司和广州桑瑞科技有限公司。桑瑞科技传承桑瑞通信的天线事业。桑瑞环保通过雷达传感器系列产品应用于地质灾害监测、水库大坝监测；智能驾驶、雷达测速、无人飞机航拍测距、测速；雷达物位计在化工装置各类液态介质不同工艺条件下均能实现液位的自动检测，具有很大的优越性。' %>
          </p>
          <!-- <p class="about-text">
            桑瑞通信在2018年4月分别组建成立广州桑瑞环保科技有限公司和广州桑瑞科技有限公司。桑瑞科技传承桑瑞通信的天线事业。桑瑞环保通过雷达传感器系列产品应用于地质灾害监测、水库大坝监测；智能驾驶、雷达测速、无人飞机航拍测距、测速；雷达物位计在化工装置各类液态介质不同工艺条件下均能实现液位的自动检测，具有很大的优越性。
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Services Section
  ============================-->
  <section id="services">
    <div class="container-fluid wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">解决方案</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">提供更有竞争力的产品和服务，为客户创造更大价值</p>
        </div>
      </div>

      <div class="container">
          <div class="row">
            <div class="col-md-4 service-item">
              <div class="service-icon"><i class="fa fa-desktop"></i></div>
              <h4 class="service-title"><a href="/solutions/antenae">移动通信</a></h4>
              <p class="service-description">为国内外运营商客户提供移动网络覆盖及行业应用整体解决方案和服务</p>
            </div>
            <div class="col-md-4 service-item">
              <div class="service-icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="service-title"><a href="/solutions/geologic">地质环境</a></h4>
              <p class="service-description">采用高频雷达传感器，实时监测滑坡变化动向，提供直观的有价值的自然灾害预警信息，提高预警的效率和准确性，减少生命和财产损失</p>
            </div>
            <div class="col-md-4 service-item">
              <div class="service-icon"><i class="fa fa-superpowers"></i></div>
              <h4 class="service-title"><a href="/solutions">水利电力</a></h4>
              <p class="service-description">大坝安全自动化监测系统实现了监测工程动态数据的采集、传输、数据汇集及设备控制自动化，为用户的现场监控、异地监视提供方便、高效、快捷的服务                </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mx-auto service-item">
              <div class="service-icon"><i class="fa fa-car"></i></div>
              <h4 class="service-title"><a href="/solutions">智能交通</a></h4>
              <p class="service-description">智能驾驶、雷达测速、无人飞机航拍测距、测速</p>
            </div>
            <div class="col-md-4 mx-auto service-item">
              <div class="service-icon"><i class="fa fa-industry"></i></div>
              <h4 class="service-title"><a href="/solutions">石油化工</a></h4>
              <p class="service-description">雷达物位计在化工装置各类液态介质不同工艺条件下均能实现液位的自动检测，提高了催化剂的生产自动化水平，成效显著</p>
            </div>
          </div>
    </div>
  </section>

  <!--==========================
  Subscrbe Section
  ============================-->
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-4 ">
          <div class="news_title_blc">
              <h3 class="subscribe-title">新闻中心</h3>
              <p class="subscribe-text">NEWS</p>
          </div>
        </div>
        <div class="col-md-8 subscribe-btn-container">
          <!-- <a class="subscribe-btn" href="/news">新闻</a> -->
          <div class="news_swipper_blc">
              <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="http://www.mwr.gov.cn/ztpd/2017ztbd/sjd/" target="_blank">
                          <img src="/images/news/water1.jpg" 
                          style="width: 100%;min-width: 300px; height: 200px;" alt="">
                          <p>习近平：大国重器必须掌握在我们自己手里</p>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="http://www.cigem.gov.cn/" target="_blank">
                          <img src="/images/news/environ_1.jpg" style="width: 100%;min-width: 300px; height: 200px;" alt="">
                          <p>中国地质环境信息</p>
                      </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.zhihuichengshi.cn/" target="_blank">
                            <img src="/images/news/smart_city2.jpg" style="width: 100%;min-width: 300px; height: 200px;" alt="">
                            <p>智慧城市，让生活更美好</p>
                        </a>
                      </div>
                  </div>
                  <!-- Add Pagination -->
                  <!-- <div class="swiper-pagination"></div> -->
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Porfolio Section
  ============================-->
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">方案展示</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">高起点、高标准是桑瑞公司的立足之本</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <a class="portfolio-item bordEffe" style="background-image: url(/images/cases/cases_1.png);" href="/cases">
            <div class="details">
              <h4></h4>
              <span>了解更多</span>
            </div>
          </a>
          <h4 class="card cases_title">  
            <a href="/cases" class="effect-hover_div hvr-underline-from-center">移动通信</a> 
            <!-- <button class="btn btn-primary" role='button'>移动通信</button> -->
          </h4>
        </div>

        <div class="col-md-4">
          <a class="portfolio-item bordEffe" style="background-image: url(/images/cases/cases_2.png);" href="/cases">
            <div class="details">
              <span>了解更多</span>
            </div>
          </a>
          <h4 class="card cases_title">  <a href="/cases" class="effect-hover_div hvr-underline-from-center">地质灾害</a> </h4>
        </div>

        <div class="col-md-4">
          <a class="portfolio-item bordEffe" style="background-image: url(/images/cases/cases_3.png);" href="/cases">
            <div class="details">
              <span>了解更多</span>
            </div>
          </a>
          <h4 class="card cases_title">  <a href="/cases" class="effect-hover_div hvr-underline-from-center">水利水电</a> </h4>
        </div>

        <div class="col-md-4 mx-auto">
          <a class="portfolio-item bordEffe" style="background-image: url(/images/cases/cases_4.png);" href="/cases">
            <div class="details">
              <span>了解更多</span>
            </div>
          </a>
          <h4 class="card cases_title">  <a href="/cases" class="effect-hover_div hvr-underline-from-center">交通</a> </h4>
        </div>
        <div class="col-md-4 mx-auto">
            <a class="portfolio-item bordEffe" style="background-image: url(/images/cases/cases_5.png);" href="/cases">
              <div class="details">
                <span>了解更多</span>
              </div>
            </a>
            <!-- <h4 class="card cases_title">石油化工</h4> -->
            <h4 class="card cases_title">  <a href="/cases" class="effect-hover_div hvr-underline-from-center">石油化工</a> </h4>
          </div>
      </div>
    </div>
  </section>
  
    <!--==========================
  NEWS SECTION
  ============================-->
  <section id="news">
    <div class="container-fluid">
      <div class="row">
        <!--<div class="col-md-12">-->
        <!--  <h3 class="section-title"></h3>-->
        <!--  <div class="section-title-divider"></div>-->
        <!--  <p class="section-description">能人所未能、愿人所不愿、思人所匪思</p>-->
        <!--</div>-->
        <div class="col-md-6 col-xs-12 wow fadeInLeft">
          <div class="ads_left_blc">
            <figure class="effect-oscar">
  						<img src="/images/news/ind_right1.jpg" alt="images"/>
  						<figcaption>
  							<div class="ads_first_left_blc">
  								<h2>自动驾驶汽车到底需要哪些类型的传感器？</h2>
  								<p>在大多汽车行业专家看来，想要实现真正的全自动驾驶，雷达、摄像头和激光雷达三套系统都必不可少。</p>
  							</div>
  							<a href="/news">View more</a>
  						</figcaption>			
  					</figure>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 wow fadeInRight ads_right_outer_blc">
          <div class="row">
            <div class="col-xs-12">
              <div class="ads_right1_blc">
      					<figure class="effect-oscar">
      						<img src="/images/news/in_right_1.jpg" alt="img09"/>
      						<figcaption>
      							<h2>华为牵引5G核心网创新发展</h2>
      							<p>MWC2018上，华为发布并展示了使能全接入、使能全业务的5G核心网解决方案，以助力电信运营商支撑未来日新月异的业务发展</p>
      							<a href="/news">View more</a>
      						</figcaption>			
      					</figure>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="ads_right2_blc">
      					<figure class="effect-oscar">
      						<img src="/images/news/in_right_2.jpg" alt="img09"/>
      						<figcaption>
      							<h2>激光雷达、计算机视觉和雷达谁会赢？</h2>
      							<p>由于激光雷达价格高，产能低，许多公司都准备直接绕过高端激光雷达玩“曲线救国”，但其他技术真的可靠吗？激光雷达、计算视觉和雷达到底谁更重要呢？</p>
      							<a href="/news">View more</a>
      						</figcaption>			
      					</figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">我们的团队</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">以人为本，是企业的核心</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member wow flipInX">
            <div class="pic"><img src="/images/team/boss_1.jpg" alt=""></div>
            <h4>王学军</h4>
            <span>总经理</span>
            <div class="social">
              <a href=""><i class="fa fa-qq"></i></a>
              <a href=""><i class="fa fa-wechat"></i></a>
              <a href=""><i class="fa fa-weibo"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member wow flipInX">
            <div class="pic"><img src="/images/team/team_member_1_bw.png" alt=""></div>
            <h4>刘沛秋</h4>
            <span>研发中心总监，高级射频工程师</span>
            <div class="social">
              <a href=""><i class="fa fa-qq"></i></a>
              <a href=""><i class="fa fa-wechat"></i></a>
              <a href=""><i class="fa fa-weibo"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member wow flipInX">
            <div class="pic"><img src="/images/team/team_member_2_bw.png" alt=""></div>
            <h4>左建宏</h4>
            <span>研发中心技术总监，高级射频工程师</span>
            <div class="social">
             <a href=""><i class="fa fa-qq"></i></a>
              <a href=""><i class="fa fa-wechat"></i></a>
              <a href=""><i class="fa fa-weibo"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member wow flipInX">
            <div class="pic"><img src="/images/team/team_member_3_bw.png" alt=""></div>
            <h4>全小红</h4>
            <span>嵌入式软件工程师</span>
            <div class="social">
             <a href=""><i class="fa fa-qq"></i></a>
              <a href=""><i class="fa fa-wechat"></i></a>
              <a href=""><i class="fa fa-weibo"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  
    <!--==========================
  MAP Section
  ============================-->
  <section id="map">
    <div style="width:700px;height:550px;border:#ccc solid 1px;font-size:12px" id="map"></div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">联系我们</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">能人所未能、愿人所不愿、思人所匪思</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>广州市高新技术产业开发区<br>科学城开源大道182号</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>market@sangrui.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>(+86)2022203555</p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">你的信息已发送，谢谢！</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="姓名" data-rule="minlen:4" data-msg="请输入你的名字" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="邮箱" data-rule="email" data-msg="请输入有效邮箱地址" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="主题" data-rule="minlen:4" data-msg="请输入至少四个字" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="请输入内容信息" placeholder="信息"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button style="width: 100%" type="submit">发送</button></div>
            </form>
          </div>
        </div>
 
      </div>
    </div>
  </section>

  
<!--Baidu script-->
<script type="text/javascript">
    var map = new BMap.Map("map");  
    map.addControl(new BMap.NavigationControl());    
    map.addControl(new BMap.ScaleControl());    
    map.addControl(new BMap.OverviewMapControl());    
    map.addControl(new BMap.MapTypeControl());  
    var poi = new BMap.Point(113.516453,23.162907);
    map.centerAndZoom(poi, 19);

    var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                    // '<img src="../images/baidu.jpg" alt="" style="float:right;zoom:1;overflow:hidden;width:100px;height:100px;margin-left:3px;"/>' +
                    '<span style="font-weight: bold">地址</span>：广州高新技术产业开发区科学城开源大道182号 <br/><span style="font-weight: bold">电话</span>：(+86)2022203555<br/>' +
                  '</div>';
  
  //   //创建检索信息窗口对象
    var searchInfoWindow = null;
	  searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
			title  : "广州桑瑞通讯设备有限公司",      //标题
			width  : 290,             //宽度
			height : 105,              //高度
			panel  : "panel",         //检索结果面板
			enableAutoPan : true,     //自动平移
			searchTypes   :[
				BMAPLIB_TAB_SEARCH,   //周边检索
				BMAPLIB_TAB_TO_HERE,  //到这里去
				BMAPLIB_TAB_FROM_HERE //从这里出发
			]
		});
    var marker = new BMap.Marker(poi); //创建marker对象
    marker.enableDragging(); //marker可拖拽
    marker.addEventListener("click", function(e){
	    searchInfoWindow.open(marker);
    })
    map.addOverlay(marker); //在地图中添加marker
</script>

<% include ../layouts/footer%>


<script>
  var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      loop: true,
      autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
      fadeEffect: {
          crossFade: true
      },
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    }); 
</script>
