<% include ../layouts/sub/header%>
<link href="/styles/site/team.css" rel="stylesheet">


<div class="banner container">
    <div class="row">
        <div class="col-md-12">
            <a href=".">主页</a>
            <i class="fa fa-angle-right"></i>
            <span>团队</span>
        </div>
    </div>
</div>    

<section class="team_blc" id="team_section">
    <div class="container">
        <div class="row">
			<% if(team && team.length > 0){%>
				<% team.forEach(function(el){ %>
					<div class="col-md-4">
						<div class="team_blc">
							<div class="team_img_blc">
								<a ><img src="/uploads/img/team/<%= el.img.filename || '../../images/team/team_noImg.png'%>" alt=""></a>
							</div>
							<div class="team_main">
								<h4 class="team_name"><%= el.name %></h4>
								<div class="team_status"><%= el.title %></div>
								<div class="team_desc">
									<%= el.desc %>
								</div>
							</div>
						</div>
					</div> 
				<% }) %>
			<%}%>
        </div>
    </div>
</section>


<% include ../layouts/sub/footer%>
