  
  <!--==========================
  Footer
============================-->
<footer id="footer">
	<div class="container footer">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<label class="foot_label">解决方案</label>
				<ul class="list-group">
					<li ><a class="effect-underline" href="/solutions/geologic">地质环境</a></li>
					<li ><a class="effect-underline devMode" href="javascript:void(0)" >水利电力</a></li>
					<li ><a class="effect-underline devMode" href="javascript:void(0)">智能交通</a></li>
					<li ><a class="effect-underline devMode" href="javascript:void(0)">石油化工</a></li>
					<li ><a class="effect-underline" href="/solutions/antenae">通信</a></li>
				</ul>
			</div>
			
			<div class="col-md-3 col-sm-6">
				<label class="foot_label">关于桑瑞</label>
				<ul class="list-group">
					<li><a class="effect-underline" href="/about">公司简介</a></li>
					<!-- <li class=""><a href="">展会活动</a></li> -->
					<li><a class="effect-underline" href="/news">新闻资讯</a></li>
				</ul>
			</div>
			
			<div class="col-md-3 col-sm-6">
				<label class="foot_label">相关链接</label>
				<ul class="list-group">
					<li ><a class="effect-underline" href="./#contact">联系我们</a></li>
					<li class="footer_li"><a class="effect-underline devMode" href="javascript:void(0)">海外业务</a></li>
				</ul>
			</div>
			
			<div class="col-md-3 col-sm-6">
				<label class="foot_label">微信公众号</label>
				<img src="/images/QR_code.jpg" style="width: 35%;"></img>
			</div>
			
			<div class="col-md-12">
				<div class="copyright">
					&copy; Copyright <strong>广州桑瑞科技有限公司</strong>. All Rights Reserved
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Required JavaScript Libraries -->
	<script src="/lib/jquery/jquery.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	
	<!-- <script src="/lib/jquery_v3/jquery_v3.js"></script> -->
	<!-- <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script> -->
	<!-- <script src="/lib/popper/popper.js"></script> -->
	<!-- <script src="/lib/bootstrap-material-design/js/bootstrap-material-design.js"></script> -->
	<!-- <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script> -->

	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
	<script src="/lib/superfish/hoverIntent.js"></script>
	<script src="/lib/superfish/superfish.min.js"></script>
	<script src="/lib/morphext/morphext.min.js"></script>
	<script src="/lib/wow/wow.min.js"></script>
	<script src="/lib/stickyjs/sticky.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js"></script>
	<script src="/lib/wodry-master/dist/wodry.min.js"></script>
	<script src="/lib/lily/dist/lity.min.js"></script>
	<script src="/lib/iziToast/dist/js/iziToast.min.js"></script>
	<script src="/lib/DataTables/datatables.min.js"></script>
	<script src="/js/util.js"></script>

<!-- Template Specisifc Custom Javascript File -->
<!-- <script src="/js/custom.js"></script>
<script src="/js/contactform.js"></script> -->
<script src="/js/all.js"></script>

</body>

</html>
