<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>广州桑瑞通信设备有限公司</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta content="" name="keywords" />
		<meta content="" name="description" />

		<!--
			Place your favicon.ico and apple-touch-icon.png in the template root directory
		-->
		<link href="favicon.ico" rel="shortcut icon" />
		<script src="/lib/jquery_v3/jquery_v3.js"></script>

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
		/>
		<link
			rel="stylesheet"
			href="/lib/bootstrap-material-design/css/bootstrap-material-design.min.css"
			integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I"
			crossorigin="anonymous"
		/>

		<!-- Libraries CSS Files -->
		<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/lib/animate-css/animate.min.css" rel="stylesheet" />

		<link rel="/swiper/dist/css/swiper.min.css" />
		<link rel="stylesheet" href="/lib/wodry-master/css/wodry.css" />
		<link rel="stylesheet" href="/lib/lily/dist/lity.min.css" />
		<link rel="stylesheet" href="/lib/hover-master/hover-min.css" />
		<link rel="stylesheet" href="/lib/iziToast/dist/css/iziToast.min.css" />
		<link rel="stylesheet" href="/lib/DataTables/datatables.min.css" />
		<!-- Header Css File -->
		<link href="/styles/site.css" rel="stylesheet" />
	</head>

	<body>
		<!-- <div id="preloader"></div> -->
		<div class="preloader" id="preloader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle
					class="path"
					cx="50"
					cy="50"
					r="20"
					fill="none"
					stroke-width="2"
					stroke-miterlimit="10"
				/>
			</svg>
		</div>

		<!--
			==========================
			Header Section
			============================
		-->
		<header id="header" style="z-index: 100">
			<div class="container">
				<div id="logo" class="pull-left">
					<!--
						<a href="/#"><img src="/images/logo.png" alt="" title="" /></img></a>
					-->
					<!-- Uncomment below if you prefer to use a text image -->
					<h1>
						<a
							class="header_logo"
							href="#"
							onclick="window.location.href = '/';"
							>SUNRISE</a
						>
					</h1>
				</div>

				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a id="aboutPath" href="/about">关于</a></li>
						<!-- <li><a href="/about">关于</a></li> -->
						<li class="menu-has-children">
							<a id="solutionsPath" href="/solutions">解决方案</a>
							<ul>
								<li><a href="/solutions/antenae">移动通信</a></li>
								<li><a href="/solutions/geologic">地质环境</a></li>
								<li>
									<a class="devMode" href="javascript:void(0)">水利电力</a>
								</li>
								<li>
									<a class="devMode" href="javascript:void(0)">智能交通</a>
								</li>
								<li>
									<a class="devMode" href="javascript:void(0)">石油化工</a>
								</li>
							</ul>
						</li>
						<li><a id="newsPath" href="/news">新闻资讯</a></li>
						<li><a id="casesPath" href="/cases">方案展示</a></li>
						<li><a id="teamPath" href="/team">团队</a></li>
						<li><a id="jobPath" href="/job">招聘</a></li>
						<li><a href=".#contact">联系我们</a></li>
						<!-- <form class="navbar-form navbar-left"> -->
						<!-- <div class="form-group"> -->
						<!--
							<input type="text" class="form-control" placeholder="Search">
						-->
						<!-- </div> -->
						<!--
							<button type="submit" class="btn btn-default">Submit</button>
						-->
						<!-- </form> -->
					</ul>
				</nav>
			</div>
		</header>
		<!-- #header -->
	</body>
</html>
